{
    "openapi": "3.0.3",
    "info": {
        "title": "API Generation Library example APIs",
        "version": "1.0.0",
        "description": "This is the definition of the **API Generation Library example APIs**.  Hopefully it's interesting",
        "contact": {
            "name": "Library API Support",
            "url": "http://apigeneration.tech/support",
            "email": "support@apigeneration.tech"
        }
    },
    "servers": [
        {
            "url": "https://mtt.apigeneration.tech/library/openapi/v1",
            "description": "The example Library server",
            "variables": {
                "var1": {
                    "default": "demo",
                    "description": "An example variable"
                }
            }
        }
    ],
    "paths": {
        "/adult-borrowers": {
            "description": "Operations on the **adultborrowers** resource",
            "get": {
                "tags": [
                    "Adult Borrower"
                ],
                "description": "Get a set of **AdultBorrower**",
                "operationId": "listAdultBorrowers",
                "parameters": [
                    {
                        "name": "surname",
                        "in": "query",
                        "description": "Optional filter on the surname field",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "givenName",
                        "in": "query",
                        "description": "Optional filter on the givenName field",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An array of AdultBorrower",
                                    "type": "array",
                                    "items": {
                                        "title": "A Borrower who can borrow any media and can vouch for Junior Borrowers.",
                                        "allOf": [
                                            {
                                                "$ref": "#/components/schemas/AdultBorrower"
                                            },
                                            {
                                                "type": "object",
                                                "properties": {
                                                    "type": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string",
                                                        "format": "uuid"
                                                    },
                                                    "self": {
                                                        "type": "string",
                                                        "format": "uri"
                                                    }
                                                },
                                                "required": [
                                                    "type",
                                                    "id",
                                                    "self"
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred - see status code and problem object.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Adult Borrower"
                ],
                "description": "Create a new **AdultBorrower**",
                "operationId": "createAdultBorrower",
                "parameters": [],
                "requestBody": {
                    "description": "The **AdultBorrower** to be created",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AdultBorrowerInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "201",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An array of AdultBorrower",
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "adultBorrowerId": {
                                                "type": "string",
                                                "format": "uuid"
                                            }
                                        },
                                        "required": [
                                            "adultBorrowerId"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "409",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "5XX",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred - see status code and problem object.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/adult-borrowers/{id}": {
            "description": "Operations on the identified **adultborrower** resource",
            "get": {
                "tags": [
                    "Adult Borrower"
                ],
                "description": "For the identified **AdultBorrower** get its properties",
                "operationId": "getAdultBorrower",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The Id of the *AdultBorrower* for this operation",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "A Borrower who can borrow any media and can vouch for Junior Borrowers.",
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/AdultBorrower"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "type": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                },
                                                "self": {
                                                    "type": "string",
                                                    "format": "uri"
                                                }
                                            },
                                            "required": [
                                                "type",
                                                "id",
                                                "self"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred - see status code and problem object.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/adult-borrowers/{id}/vouched-for-junior-borrowers": {
            "description": "Operations on the **juniorborrower** resource for the identified **adultborrower**",
            "get": {
                "tags": [
                    "Adult Borrower"
                ],
                "description": "Get the set of **JuniorBorrower** the identified **AdultBorrower** vouched for",
                "operationId": "listWasVouchedForByAdultBorrower",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The Id of the *AdultBorrower* for this operation",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "surname",
                        "in": "query",
                        "description": "Optional filter on the surname field",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "givenName",
                        "in": "query",
                        "description": "Optional filter on the givenName field",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An array of JuniorBorrower",
                                    "type": "array",
                                    "items": {
                                        "title": "A Borrower who cannot borrow certain Media Titles and a limited number of Media Copies.",
                                        "allOf": [
                                            {
                                                "$ref": "#/components/schemas/JuniorBorrower"
                                            },
                                            {
                                                "type": "object",
                                                "properties": {
                                                    "type": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string",
                                                        "format": "uuid"
                                                    },
                                                    "self": {
                                                        "type": "string",
                                                        "format": "uri"
                                                    }
                                                },
                                                "required": [
                                                    "type",
                                                    "id",
                                                    "self"
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred - see status code and problem object.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/adult-borrowers/{id}/reserved-media-titles": {
            "description": "Operations on the **mediatitle** resource for the identified **borrower**",
            "get": {
                "tags": [
                    "Adult Borrower"
                ],
                "description": "Get the set of **MediaTitle** the identified **Borrower** reserved",
                "operationId": "listWasReservedByAdultBorrower",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The Id of the *AdultBorrower* for this operation",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "description": "Optional filter on the title field",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "isbn",
                        "in": "query",
                        "description": "Optional filter on the isbn field",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "author",
                        "in": "query",
                        "description": "Optional filter on the author field",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rating",
                        "in": "query",
                        "description": "Optional filter on the rating field",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "price",
                        "in": "query",
                        "description": "Optional filter on the price field",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "Optional filter on the description field",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An array of MediaTitle",
                                    "type": "array",
                                    "items": {
                                        "title": "Details of a Media Title, such as a Book or Movie. This is distinct from a Media Copy which is a particular ",
                                        "allOf": [
                                            {
                                                "$ref": "#/components/schemas/MediaTitle"
                                            },
                                            {
                                                "type": "object",
                                                "properties": {
                                                    "type": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string",
                                                        "format": "uuid"
                                                    },
                                                    "self": {
                                                        "type": "string",
                                                        "format": "uri"
                                                    }
                                                },
                                                "required": [
                                                    "type",
                                                    "id",
                                                    "self"
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred - see status code and problem object.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/adult-borrowers/{id}/reservation": {
            "description": "Operations on the **reservation** resource for the identified **borrower**",
            "get": {
                "tags": [
                    "Adult Borrower"
                ],
                "description": "Get the  **Reservation** for the identified **Borrower**",
                "operationId": "listMediaTitleForAdultBorrower",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The Id of the *AdultBorrower* for this operation",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "The Reservation of a Media Title, independent of which actual copy is subsequently loaned.",
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/Reservation"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "type": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                },
                                                "self": {
                                                    "type": "string",
                                                    "format": "uri"
                                                }
                                            },
                                            "required": [
                                                "type",
                                                "id",
                                                "self"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred - see status code and problem object.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/adult-borrowers/{id}/borrowed-media-copies": {
            "description": "Operations on the **mediacopy** resource for the identified **borrower**",
            "get": {
                "tags": [
                    "Adult Borrower"
                ],
                "description": "Get the set of **MediaCopy** the identified **Borrower** borrowed",
                "operationId": "listWasBorrowedByAdultBorrower",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The Id of the *AdultBorrower* for this operation",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An array of MediaCopy",
                                    "type": "array",
                                    "items": {
                                        "title": "An actual copy of a MediaTitle that can be borrowed.",
                                        "allOf": [
                                            {
                                                "$ref": "#/components/schemas/MediaCopy"
                                            },
                                            {
                                                "type": "object",
                                                "properties": {
                                                    "type": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string",
                                                        "format": "uuid"
                                                    },
                                                    "self": {
                                                        "type": "string",
                                                        "format": "uri"
                                                    }
                                                },
                                                "required": [
                                                    "type",
                                                    "id",
                                                    "self"
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred - see status code and problem object.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/adult-borrowers/{id}/loan": {
            "description": "Operations on the **loan** resource for the identified **borrower**",
            "get": {
                "tags": [
                    "Adult Borrower"
                ],
                "description": "Get the  **Loan** for the identified **Borrower**",
                "operationId": "listMediaCopyForAdultBorrower",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The Id of the *AdultBorrower* for this operation",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "The Loan of a specific Media Copy",
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/Loan"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "type": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                },
                                                "self": {
                                                    "type": "string",
                                                    "format": "uri"
                                                }
                                            },
                                            "required": [
                                                "type",
                                                "id",
                                                "self"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred - see status code and problem object.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/adult-borrowers/{id}/previously-lived-at-addresses": {
            "description": "Operations on the **address** resource for the identified **borrower**",
            "get": {
                "tags": [
                    "Adult Borrower"
                ],
                "description": "Get the set of **Address** the identified **Borrower** previously lived at",
                "operationId": "listPreviouslyLivedAtByAdultBorrower",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The Id of the *AdultBorrower* for this operation",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "street",
                        "in": "query",
                        "description": "Optional filter on the street field",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "town",
                        "in": "query",
                        "description": "Optional filter on the town field",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "description": "Optional filter on the country field",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "currentlyLivesAtCount",
                        "in": "query",
                        "description": "Optional filter on the currentlyLivesAtCount field",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An array of Address",
                                    "type": "array",
                                    "items": {
                                        "title": "An Address that Borrowers currently or previously have lived at.",
                                        "allOf": [
                                            {
                                                "$ref": "#/components/schemas/Address"
                                            },
                                            {
                                                "type": "object",
                                                "properties": {
                                                    "type": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string",
                                                        "format": "uuid"
                                                    },
                                                    "self": {
                                                        "type": "string",
                                                        "format": "uri"
                                                    }
                                                },
                                                "required": [
                                                    "type",
                                                    "id",
                                                    "self"
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred - see status code and problem object.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/adult-borrowers/{id}/currently-lives-at-address": {
            "description": "Operations on the **address** resource for the identified **person**",
            "get": {
                "tags": [
                    "Adult Borrower"
                ],
                "description": "Get the  **Address** the identified **Person** currently lives at",
                "operationId": "getIsCurrentlyLivedAtByAdultBorrower",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The Id of the *AdultBorrower* for this operation",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "street",
                        "in": "query",
                        "description": "Optional filter on the street field",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "town",
                        "in": "query",
                        "description": "Optional filter on the town field",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "description": "Optional filter on the country field",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "currentlyLivesAtCount",
                        "in": "query",
                        "description": "Optional filter on the currentlyLivesAtCount field",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "An Address that Borrowers currently or previously have lived at.",
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/Address"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "type": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                },
                                                "self": {
                                                    "type": "string",
                                                    "format": "uri"
                                                }
                                            },
                                            "required": [
                                                "type",
                                                "id",
                                                "self"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred - see status code and problem object.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/borrowers": {
            "description": "Operations on the **borrowers** resource",
            "get": {
                "tags": [
                    "Borrower"
                ],
                "description": "Get a set of **Borrower**",
                "operationId": "listBorrowers",
                "parameters": [
                    {
                        "name": "surname",
                        "in": "query",
                        "description": "Optional filter on the surname field",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "givenName",
                        "in": "query",
                        "description": "Optional filter on the givenName field",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An array of Borrower",
                                    "type": "array",
                                    "items": {
                                        "title": "The abstract concept of a Borrower. Actual Borrowers must be either Adult or Junior.",
                                        "allOf": [
                                            {
                                                "$ref": "#/components/schemas/Borrower"
                                            },
                                            {
                                                "type": "object",
                                                "properties": {
                                                    "type": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string",
                                                        "format": "uuid"
                                                    },
                                                    "self": {
                                                        "type": "string",
                                                        "format": "uri"
                                                    }
                                                },
                                                "required": [
                                                    "type",
                                                    "id",
                                                    "self"
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred - see status code and problem object.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/borrowers/{id}": {
            "description": "Operations on the identified **borrower** resource",
            "get": {
                "tags": [
                    "Borrower"
                ],
                "description": "For the identified **Borrower** get its properties",
                "operationId": "getBorrower",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The Id of the *Borrower* for this operation",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "The abstract concept of a Borrower. Actual Borrowers must be either Adult or Junior.",
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/Borrower"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "type": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                },
                                                "self": {
                                                    "type": "string",
                                                    "format": "uri"
                                                }
                                            },
                                            "required": [
                                                "type",
                                                "id",
                                                "self"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred - see status code and problem object.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/borrowers/{id}/reserved-media-titles": {
            "description": "Operations on the **mediatitle** resource for the identified **borrower**",
            "get": {
                "tags": [
                    "Borrower"
                ],
                "description": "Get the set of **MediaTitle** the identified **Borrower** reserved",
                "operationId": "listWasReservedByBorrower",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The Id of the *Borrower* for this operation",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "description": "Optional filter on the title field",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "isbn",
                        "in": "query",
                        "description": "Optional filter on the isbn field",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "author",
                        "in": "query",
                        "description": "Optional filter on the author field",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rating",
                        "in": "query",
                        "description": "Optional filter on the rating field",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "price",
                        "in": "query",
                        "description": "Optional filter on the price field",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "Optional filter on the description field",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An array of MediaTitle",
                                    "type": "array",
                                    "items": {
                                        "title": "Details of a Media Title, such as a Book or Movie. This is distinct from a Media Copy which is a particular ",
                                        "allOf": [
                                            {
                                                "$ref": "#/components/schemas/MediaTitle"
                                            },
                                            {
                                                "type": "object",
                                                "properties": {
                                                    "type": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string",
                                                        "format": "uuid"
                                                    },
                                                    "self": {
                                                        "type": "string",
                                                        "format": "uri"
                                                    }
                                                },
                                                "required": [
                                                    "type",
                                                    "id",
                                                    "self"
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred - see status code and problem object.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/borrowers/{id}/reservation": {
            "description": "Operations on the **reservation** resource for the identified **borrower**",
            "get": {
                "tags": [
                    "Borrower"
                ],
                "description": "Get the  **Reservation** for the identified **Borrower**",
                "operationId": "listMediaTitleForBorrower",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The Id of the *Borrower* for this operation",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "The Reservation of a Media Title, independent of which actual copy is subsequently loaned.",
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/Reservation"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "type": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                },
                                                "self": {
                                                    "type": "string",
                                                    "format": "uri"
                                                }
                                            },
                                            "required": [
                                                "type",
                                                "id",
                                                "self"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred - see status code and problem object.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/borrowers/{id}/borrowed-media-copies": {
            "description": "Operations on the **mediacopy** resource for the identified **borrower**",
            "get": {
                "tags": [
                    "Borrower"
                ],
                "description": "Get the set of **MediaCopy** the identified **Borrower** borrowed",
                "operationId": "listWasBorrowedByBorrower",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The Id of the *Borrower* for this operation",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An array of MediaCopy",
                                    "type": "array",
                                    "items": {
                                        "title": "An actual copy of a MediaTitle that can be borrowed.",
                                        "allOf": [
                                            {
                                                "$ref": "#/components/schemas/MediaCopy"
                                            },
                                            {
                                                "type": "object",
                                                "properties": {
                                                    "type": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string",
                                                        "format": "uuid"
                                                    },
                                                    "self": {
                                                        "type": "string",
                                                        "format": "uri"
                                                    }
                                                },
                                                "required": [
                                                    "type",
                                                    "id",
                                                    "self"
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred - see status code and problem object.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/borrowers/{id}/loan": {
            "description": "Operations on the **loan** resource for the identified **borrower**",
            "get": {
                "tags": [
                    "Borrower"
                ],
                "description": "Get the  **Loan** for the identified **Borrower**",
                "operationId": "listMediaCopyForBorrower",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The Id of the *Borrower* for this operation",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "The Loan of a specific Media Copy",
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/Loan"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "type": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                },
                                                "self": {
                                                    "type": "string",
                                                    "format": "uri"
                                                }
                                            },
                                            "required": [
                                                "type",
                                                "id",
                                                "self"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred - see status code and problem object.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/borrowers/{id}/previously-lived-at-addresses": {
            "description": "Operations on the **address** resource for the identified **borrower**",
            "get": {
                "tags": [
                    "Borrower"
                ],
                "description": "Get the set of **Address** the identified **Borrower** previously lived at",
                "operationId": "listPreviouslyLivedAtByBorrower",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The Id of the *Borrower* for this operation",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "street",
                        "in": "query",
                        "description": "Optional filter on the street field",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "town",
                        "in": "query",
                        "description": "Optional filter on the town field",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "description": "Optional filter on the country field",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "currentlyLivesAtCount",
                        "in": "query",
                        "description": "Optional filter on the currentlyLivesAtCount field",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An array of Address",
                                    "type": "array",
                                    "items": {
                                        "title": "An Address that Borrowers currently or previously have lived at.",
                                        "allOf": [
                                            {
                                                "$ref": "#/components/schemas/Address"
                                            },
                                            {
                                                "type": "object",
                                                "properties": {
                                                    "type": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string",
                                                        "format": "uuid"
                                                    },
                                                    "self": {
                                                        "type": "string",
                                                        "format": "uri"
                                                    }
                                                },
                                                "required": [
                                                    "type",
                                                    "id",
                                                    "self"
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred - see status code and problem object.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/borrowers/{id}/currently-lives-at-address": {
            "description": "Operations on the **address** resource for the identified **person**",
            "get": {
                "tags": [
                    "Borrower"
                ],
                "description": "Get the  **Address** the identified **Person** currently lives at",
                "operationId": "getIsCurrentlyLivedAtByBorrower",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The Id of the *Borrower* for this operation",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "street",
                        "in": "query",
                        "description": "Optional filter on the street field",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "town",
                        "in": "query",
                        "description": "Optional filter on the town field",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "description": "Optional filter on the country field",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "currentlyLivesAtCount",
                        "in": "query",
                        "description": "Optional filter on the currentlyLivesAtCount field",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "An Address that Borrowers currently or previously have lived at.",
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/Address"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "type": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                },
                                                "self": {
                                                    "type": "string",
                                                    "format": "uri"
                                                }
                                            },
                                            "required": [
                                                "type",
                                                "id",
                                                "self"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred - see status code and problem object.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/borrowers/{id}/profile": {
            "get": {
                "tags": [
                    "Borrower"
                ],
                "description": "Get the **profile**",
                "operationId": "listProfiles",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The Id of the *Borrower* for this operation",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An array of BorrowerProfile",
                                    "type": "array",
                                    "items": {
                                        "allOf": [
                                            {
                                                "$ref": "#/components/schemas/BorrowerProfile"
                                            },
                                            {
                                                "type": "object",
                                                "properties": {
                                                    "type": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string",
                                                        "format": "uuid"
                                                    },
                                                    "self": {
                                                        "type": "string",
                                                        "format": "uri"
                                                    }
                                                },
                                                "required": [
                                                    "type",
                                                    "id",
                                                    "self"
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred - see status code and problem object.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/junior-borrowers": {
            "description": "Operations on the **juniorborrowers** resource",
            "get": {
                "tags": [
                    "Junior Borrower"
                ],
                "description": "Get a set of **JuniorBorrower**",
                "operationId": "listJuniorBorrowers",
                "parameters": [
                    {
                        "name": "surname",
                        "in": "query",
                        "description": "Optional filter on the surname field",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "givenName",
                        "in": "query",
                        "description": "Optional filter on the givenName field",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An array of JuniorBorrower",
                                    "type": "array",
                                    "items": {
                                        "title": "A Borrower who cannot borrow certain Media Titles and a limited number of Media Copies.",
                                        "allOf": [
                                            {
                                                "$ref": "#/components/schemas/JuniorBorrower"
                                            },
                                            {
                                                "type": "object",
                                                "properties": {
                                                    "type": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string",
                                                        "format": "uuid"
                                                    },
                                                    "self": {
                                                        "type": "string",
                                                        "format": "uri"
                                                    }
                                                },
                                                "required": [
                                                    "type",
                                                    "id",
                                                    "self"
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred - see status code and problem object.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Junior Borrower"
                ],
                "description": "Create a new **JuniorBorrower**",
                "operationId": "createJuniorBorrower",
                "parameters": [],
                "requestBody": {
                    "description": "The **JuniorBorrower** to be created",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JuniorBorrowerInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "201",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An array of JuniorBorrower",
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "juniorBorrowerId": {
                                                "type": "string",
                                                "format": "uuid"
                                            }
                                        },
                                        "required": [
                                            "juniorBorrowerId"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "409",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "5XX",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred - see status code and problem object.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/junior-borrowers/{id}": {
            "description": "Operations on the identified **juniorborrower** resource",
            "get": {
                "tags": [
                    "Junior Borrower"
                ],
                "description": "For the identified **JuniorBorrower** get its properties",
                "operationId": "getJuniorBorrower",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The Id of the *JuniorBorrower* for this operation",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "A Borrower who cannot borrow certain Media Titles and a limited number of Media Copies.",
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/JuniorBorrower"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "type": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                },
                                                "self": {
                                                    "type": "string",
                                                    "format": "uri"
                                                }
                                            },
                                            "required": [
                                                "type",
                                                "id",
                                                "self"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred - see status code and problem object.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/junior-borrowers/{id}/was-vouched-for-by-adult-borrower": {
            "description": "Operations on the **adultborrower** resource for the identified **juniorborrower**",
            "get": {
                "tags": [
                    "Junior Borrower"
                ],
                "description": "Get the  **AdultBorrower** the identified **JuniorBorrower** was vouched for by",
                "operationId": "getVouchedForJuniorBorrower",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The Id of the *JuniorBorrower* for this operation",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "surname",
                        "in": "query",
                        "description": "Optional filter on the surname field",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "givenName",
                        "in": "query",
                        "description": "Optional filter on the givenName field",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "A Borrower who can borrow any media and can vouch for Junior Borrowers.",
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/AdultBorrower"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "type": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                },
                                                "self": {
                                                    "type": "string",
                                                    "format": "uri"
                                                }
                                            },
                                            "required": [
                                                "type",
                                                "id",
                                                "self"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred - see status code and problem object.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/junior-borrowers/{id}/reserved-media-titles": {
            "description": "Operations on the **mediatitle** resource for the identified **borrower**",
            "get": {
                "tags": [
                    "Junior Borrower"
                ],
                "description": "Get the set of **MediaTitle** the identified **Borrower** reserved",
                "operationId": "listWasReservedByJuniorBorrower",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The Id of the *JuniorBorrower* for this operation",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "description": "Optional filter on the title field",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "isbn",
                        "in": "query",
                        "description": "Optional filter on the isbn field",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "author",
                        "in": "query",
                        "description": "Optional filter on the author field",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rating",
                        "in": "query",
                        "description": "Optional filter on the rating field",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "price",
                        "in": "query",
                        "description": "Optional filter on the price field",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "Optional filter on the description field",
                        "schema": {
                            "type": "string"
                        }
[...]
